# Ignore confusion matrix output
confusion_matrix/

# Ignore Weights & Biases logs
wandb/

# Ignore Python bytecode caches
__pycache__/
**/__pycache__/

# Ignore dataset directory
data/

# Optional common artifacts (hapus jika tidak perlu)
*.py[cod]
*.log
.env

# Ignore saved best model weights
best_model_fold1.pth
best_model_fold2.pth
best_model_fold3.pth
best_model_fold4.pth
best_model_fold5.pth
best_model.pth

augmentation_analysis/
checkpoints/
